/* shrared style*/
body{
    font-family: 'Open Sans', sans-serif;
}
/*Main test color*/
.text-main{
    color: #FD6E0A;
}
/* nav related syle*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*nav title class*/

.nav-title{     
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-weight: 800;
}

/*styling ul under nav*/
nav > ul {
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 50px;
    
}

nav a{
    text-decoration: none;
    color: var(--Dark-02, #474747);

}

/* primary button*/
.main-button{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}